<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        Test Liquid<br />
        It is {{date}}<br />

        <pre>
            Blahbla
        </pre>

        <script src="scripts.js"></script>
    </body>
</html>